DATABASE_URL="file:./dev.db" // banco de dados local teste
JWT_SECRET="sua_chave_secreta_super_aleatoria_aqui_123" // esta chave deve ser a mesma usada no tools/generate-token.js para gerar tokens de teste, e também deve ser mantida em segredo em produção!